@model IEnumerable<DisasterAlleviationPOE.Models.GoodsDonations>

@{
    ViewData["Title"] = "Goods Donations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Current Goods Donations Recieved</h1>

<div class="tab-content">
    <div id="tab-content-1" class="container tab-pane active">

        <table style="margin-top:30px; font-size:18px;" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="color:rebeccapurple !important;">

                        @Html.DisplayNameFor(model => model.DonationDate)


                    </th>
                    <th style="color:rebeccapurple !important;">

                        @Html.DisplayNameFor(model => model.NumberOfItems)
                    </th>
                    <th style="color:rebeccapurple !important;">

                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                
                    <th style="color:rebeccapurple !important;">

                        @Html.DisplayNameFor(model => model.DonorName)
                    </th>
                    <th style="color:rebeccapurple !important;">

                        @Html.DisplayNameFor(model => model.Category)
                    </th>   
                    
                    <th style="color:rebeccapurple !important;">

                        @Html.DisplayNameFor(model => model.Disaster )
                    </th>
                    <th style="color:rebeccapurple !important;">Update</th>
                    <th style="color:rebeccapurple !important;">Delete</th>
                    <th style="color:rebeccapurple !important;">View Details</th>
                </tr>

                @foreach (var item in Model)
                {



                    <tr>
                        <td style="color:orangered !important;">

                            @Html.DisplayFor(modelItem => item.DonationDate)

                        </td>
                        <td style="color:orangered !important;">

                            @Html.DisplayFor(modelItem => item.NumberOfItems)

                        </td>
                        <td style="color:orangered !important;">


                            @Html.DisplayFor(modelItem => item.Description)

                        </td>
                        <td style="color:orangered !important;">


                            @Html.DisplayFor(modelItem => item.DonorName)

                        </td>
                        <td style="color:orangered !important;">


                            @Html.DisplayFor(modelItem => item.Category.CategoryName)

                        </td>
                        <td style="color:orangered !important;">


                            @Html.DisplayFor(modelItem => item.Disaster.DisasterID)

                        </td>

                        <td style="color:orangered !important;">


                            <a asp-action="Edit" asp-route-id="@item.GoodsDonationID">Edit</a>


                        </td>

                        <td style="color:orangered !important;">

                            <a asp-action="Delete" asp-route-id="@item.GoodsDonationID">Delete</a>



                        </td>

                        <td style="color:orangered !important;">

                            <a asp-action="Details" asp-route-id="@item.GoodsDonationID">Details</a>



                        </td>
                    </tr>
                }
            </thead>
        </table>
    </div>
</div>


<h3 style="color:rebeccapurple !important;">Add A New Donation Below</h3>

<td style="color:orangered !important;">

    <a asp-action="Create">Add New Goods Donation</a>

</td>
