@model IEnumerable<DisasterAlleviationPOE.Models.MonetaryDonations>
@{
    ViewData["Title"] = "Index";
   
}

<h1>Current Monetary Donations Recieved</h1>


<div class="tab-content">
    <div id="tab-content-1" class="container tab-pane active">

        <table style="margin-top:30px; font-size:18px;" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th style="color:rebeccapurple !important;">

                        @Html.DisplayNameFor(model => model.DonationDate)


                </th>
                <th style="color:rebeccapurple !important;">

                        @Html.DisplayNameFor(model => model.DonationAmount)
                </th>
                <th style="color:rebeccapurple !important;">

                        @Html.DisplayNameFor(model => model.DonorName)
                </th>
                <th style="color:rebeccapurple !important;">Update</th>
                <th style="color:rebeccapurple !important;">Delete</th>
                <th style="color:rebeccapurple !important;">View Details</th>
            </tr>

            @foreach (var item in Model)
                {
                    
                
            
                <tr>
                    <td style="color:orangered !important;">

                     @Html.DisplayFor(modelItem => item.DonationDate)

                    </td>
                    <td style="color:orangered !important;">

                            @Html.DisplayFor(modelItem => item.DonationAmount)

                    </td>
                    <td style="color:orangered !important;">


                            @Html.DisplayFor(modelItem => item.DonorName)

                    </td>

                    <td style="color:orangered !important;">


                            <a asp-action="Edit" asp-route-id="@item.MonetaryID">Edit</a>
                           
                       
                    </td>

                    <td style="color:orangered !important;">

                            <a asp-action="Delete" asp-route-id="@item.MonetaryID">Delete</a>

                           

                    </td>

                        <td style="color:orangered !important;">
                          
                            <a asp-action="Details" asp-route-id="@item.MonetaryID">Details</a>

                          

                        </td>
                </tr>
            }
            </thead>
        </table>
    </div>
</div>



<h3 style="color:rebeccapurple !important;">Add A New Donation Below</h3>

<td style="color:orangered !important;">

    <a asp-action="Create">Add New Donation</a>

</td>


<h3>Total Funds Available : @ViewBag.totalMonetaryDonations</h3>

