@model IEnumerable<DisasterAlleviationPOE.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Goods Categories Captured</h1>

<div class="tab-content">
    <div id="tab-content-1" class="container tab-pane active">

        <table style="margin-top:30px; font-size:18px;" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="color:rebeccapurple !important;">

                        @Html.DisplayNameFor(model => model.CategoryName)


                    </th>
                   
                    <th style="color:rebeccapurple !important;">Update</th>
                    <th style="color:rebeccapurple !important;">Delete</th>
                    <th style="color:rebeccapurple !important;">View Details</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="color:orangered !important;">

                            @Html.DisplayFor(modelItem => item.CategoryName)

                        </td>
                        <td style="color:orangered !important;">

                            <a asp-action="Edit" asp-route-id="@item.CategoryID">Update Category</a>


                        </td>
                        <td style="color:orangered !important;">


                            <a asp-action="Delete" asp-route-id="@item.CategoryID">Delete Category</a>


                        </td>

                        <td style="color:orangered !important;">


                            <a asp-action="Details" asp-route-id="@item.CategoryID">View Category Details</a>


                        </td>

                    
                      
                    </tr>
                }
            </thead>
        </table>
    </div>
</div>



<h3 style="color:rebeccapurple !important;">Add A New Category Below</h3>

<td style="color:orangered !important;">

    <a asp-action="Create">Add New Category</a>

</td>

